# ============================================================
# FICHIERS LOG — inutile de les versionner sur GitHub
# ============================================================
*.nhgt
*.log
logs/*
!logs/.gitkeep

# ============================================================
# FICHIERS SYSTÈME
# ============================================================
.DS_Store
*.tmp
*.swp
*.bak

# ============================================================
# FICHIERS SENSIBLES — ne jamais mettre sur GitHub !
# ============================================================
*.env
*.key
*.pem
*password*
*secret*
